@use "variables" as v;
@use 'sass:math';

@mixin fullImage{
    width: 100%;
    height: auto;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin xs{
    @media(min-width: map-get(v.$breakpoints,"xs")){
        @content;
    }
}
@mixin sm {
    @media(min-width: map-get(v.$breakpoints, "sm")) {
        @content;
    }
}
@mixin md {
    @media(min-width: map-get(v.$breakpoints, "md")) {
        @content;
    }
}
@mixin lg {
    @media(min-width: map-get(v.$breakpoints, "lg")) {
        @content;
    }
}
@mixin xl {
    @media(min-width: map-get(v.$breakpoints, "xl")) {
        @content;
    }
}

@mixin breakpoint($bp:0){
    @media (min-width: $bp){
        @content;
    }
}


@mixin phone{
    @media (max-width:599px){
        @content;
    }
}

@mixin tablet{
    @media(min-width:600px){
        @content;
    }
}
@mixin desktop{
    @media (min-width:1200px){
        @content;
    }
}
@mixin headings {
    @for $index from 1 through 6 {
        .text-size#{$index} {
            @content;
            font-size:math.div($index,2)+rem;
        
        }
        @include phone{
            .text-size#{$index}{
                font-size:math.div($index,3.5)+rem;
            }
        }
    }
}